body {
  color: #2D3337;
}

p {
  margin-bottom: 20px;
}

a {
  color: #4A90E2;
}

h1.title {
  font-size: 48px;
  margin-bottom: 30px !important;
}

h2.subtitle {
  font-size: 18px;
  text-transform: uppercase;
}

h3 {
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 16px;
  letter-spacing: 3px;
}

ol {
  padding: 0px 20px;
  margin-bottom: 20px;
}

code {
  font-family: "Roboto Mono";
  font-size: 12px !important;
  background: #FFF6BD;
  color: #2D3337;
}

img {
  width: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}

.hero {
  margin-bottom: 20px;
  padding-right: 15px;
  background: #F7F7F7;
}

.hero-body {
  padding-bottom: 15px;
  padding-right: 15px;
}

/* identifier */
span.e,
span.i,
span.f,
span.k,
span.l,
span.o,
span.t { color:white; }
/* inactive code */
span.inactive { color:white; }
/* keywords */
span.k,
span.prep { color:#F3D211;  }
/* numbers */
span.n { color:#E24AA0; }
/* string */
span.s { color: #6BE0E7; }
/* omitted */
span.omitted { 
	border:solid 1px #d8d8d8;
	color:#808080;
	padding:0px 0px 1px 0px;
	background:#fafafa;
}
span.cerr {
  background:url(tilde.png) repeat-x left bottom;
}

div.tip 
{
	font:8pt calibri;
	padding:3px;
	border:1px solid #606060;
	background:#ffffd0;
	display:none;
	pointer-events:none;
}

pre a.fssniplink
{
	font:bold 7.5pt calibry, arial, verdana; 
	position:absolute; 
	bottom:0.3em; 
	right:0.3em;
	color:#a8a8a8;
}

/* Optionally, also configure how the PRE element and TABLE.PRE look */
table.pre {
  color: white;
  margin-bottom: 20px;
}

table.pre pre {
  padding:0px;
  border-style:none;
}

pre, table.pre td {
  padding:9.5px;
  background:#333;
  border-radius:4px;
  border-color:rgba(0,0,0,0.15);
}

table.pre td.lines {
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-right-style: none;
  padding-right:0px;
}
table.pre td.snippet {
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  border-left-style: none;
  padding-left:4px;
}
table.pre code {
  color: white;
}